<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href="main.css" rel="stylesheet" />
		<script src="main.js" defer></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<form id="loginform" class="unauthorized">
			<input id="login" placeholder="Логин"><br>
			<input id="password" placeholder="Пароль">
			<div>* Если аккаунт не существует, то будет создан</div>
		</form>
		<output id="messages"></output>
		<div>
			<div contenteditable id="input"></div>
		</div>
	</body>
</html>